*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/gradle.xml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/runConfigurations.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/encodings.xml
/.idea/dbnavigator.xml
/.idea/assetWizardSettings.xml
/.idea/markdown-navigator*
.DS_Store
/build
/captures
.externalNativeBuild
file.sqlite
.idea/caches
local.properties
keystore.jks
app/release
app/fabric.properties
